<!DOCTYPE html>
<html>

  <!-- Function for randomly selecting an image -->
  <script>
    const MAX_ID = 40; // Changeable, The maximum image ID
    const randomID = Math.floor(Math.random() * MAX_ID); // Randomly select an image ID

    // Set the selected image as the source for the target element or background
    document.addEventListener("DOMContentLoaded", () => {
        const imgElement = document.getElementById("random-image");
        if (imgElement) {
            imgElement.src = "/misc/images/baloo/" + String(randomID) + ".jpg"; // Set the image source
        }
    });
  </script>



  {% include head.html %}

  <body>
  <div class="page">
    {% include header.html %}

    {{ content }}

    {% include footer.html %}

    {% include analytics.html %}
    </div>
  </body>

</html>
